<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>OmgDb</title>
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/skeleton.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body class="container">
        <nav class="row">
            <a class="button button-primary" href="{{ path('homepage') }}">OmgDb</a>
            <a class="button" href="{{ path('schema_index') }}">Schemas</a>
            <a class="button" href="{{ path('attribute_index') }}">Attribute</a>
            <a class="button" href="{{ path('tag_index') }}">Tag</a>
        </nav>

        <section id="main" class="row">
            <aside class="three columns">
                <header>Instances</header>
                {% for schema in twig_globals.createdSchemas %}
                    <a class="button u-full-width" href="{{ path('instance_index', {'id': schema.id}) }}">
                        {{ schema.name }}
                    </a>
                {% endfor %}
            </aside>
            <section id="body" class="nine columns">
                {% block body %}{% endblock %}
            </section>
        </section>

        <footer>
            <p class="u-pull-right">OmgDb v{{ twig_globals.version }}</p>
        </footer>
    </body>
</html>
