<a class="dropdown-toggle" data-toggle="dropdown" role="button">
    {% if app.request.locale == 'en' %}
        {% image '@AppBundle/Resources/public/images/flags/flag-united-kingdom.png' %}
        <img src="{{ asset_url }}" alt="en">
        {% endimage %}
    {% else %}
        {% image '@AppBundle/Resources/public/images/flags/toki-pona.svg' %}
        <img src="{{ asset_url }}" alt="toki-pona">
        {% endimage %}
    {% endif %}
    <span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu">
    <li>
        {% set path = path(app.request.get('_route'),
        app.request.get('_route_params')|merge({ '_locale': 'en' })) %}

        <a href="{{ path }}" title="English">
            {% image '@AppBundle/Resources/public/images/flags/flag-united-kingdom.png' %}
            <img src="{{ asset_url }}" alt="en">
            {% endimage %}
            English
        </a>
    </li>
    <li>
        {% set path = path(app.request.get('_route'),
        app.request.get('_route_params')|merge({ '_locale': 'toki-pona' })) %}

        <a href="{{ path }}" title="Toki Pona">
            {% image '@AppBundle/Resources/public/images/flags/toki-pona.svg' %}
            <img src="{{ asset_url }}" alt="toki-pona">
            {% endimage %}
            Toki Pona
        </a>
    </li>
</ul>
