<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ 'title'|trans }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'lanigerBootstrapBundle::assets.include.twig' %}
        {% javascripts '@AppBundle/Resources/public/omgdb.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">{{ 'label.toggle.nav'|trans }}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('index') }}">{{ 'label.omgdb'|trans }}</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                            <li>
                                <a href="{{ path('schema_index') }}" title="{{ 'nav.schema.index'|trans }}" accesskey="s">
                                    <span class="glyphicon glyphicon-th-large"></span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('attribute_index') }}" title="{{ 'nav.attribute.index'|trans }}" accesskey="a">
                                    <span class="glyphicon glyphicon-th"></span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('settings_index') }}" title="{{ 'nav.settings.index'|trans }}" accesskey="q">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('logout') }}" title="{{ 'nav.logout'|trans }}" accesskey="l">
                                    <span class="glyphicon glyphicon-off"></span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            {% if app.user %}
                <section class="col-md-2">
                    <div class="list-group">
                        {% for schema in repo_schema.fetchAllForCurrentUser %}
                            <a class="list-group-item" href="#{{ schema.uid }}">
                                {{ schema.name }}
                            </a>
                        {% endfor %}
                    </div>
                </section>
                <section class="col-md-10">
            {% endif %}

            {% block body %}{% endblock %}

            {% if app.user %}
                </section>
            {% endif %}
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="modal-confirm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-confirm-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ 'text.confirm-action' }}</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">
                            {{ 'label.cancel'|trans }}
                        </button>
                        <button class="btn btn-primary" id="modal-confirm-confirm">
                            {{ 'label.confirm'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
