{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Edit {{ instance.name }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <a href="{{ path('instance_delete', {'id': instance.id}) }}" class="button">
        Delete
    </a>

    <h2>Tags</h2>

    <ul>
        {% for tag in instance.tags %}
            <li>
                <a class="button" href="{{ path('instance_remove_tag', {
                    'id': instance.id,
                    'tag_id': tag.id
                }) }}">
                    ✗
                </a>
                {{ tag.name }}
            </li>
        {% endfor %}
    </ul>

    <h3>Assign Tag</h3>
    {{ form_start(tag_assign_form) }}
        {{ form_widget(tag_assign_form.tag) }}
        <button class="button">Assign</button>
    {{ form_end(tag_assign_form) }}

    <h3>Create and assign Tag</h3>
    {{ form_start(tag_create_form) }}
        {{ form_widget(tag_create_form) }}
        <button class="button">Create and assign</button>
    {{ form_end(tag_create_form) }}

    <a href="{{ path('instance_index', {'id': instance.schema.id}) }}">Back to the list</a>
{% endblock %}

