{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>
        {{ 'label.instance.overview'|trans }} {{ schema.name }}
    </h1>

    <p>
        <button type="button" class="btn btn-primary"
                data-toggle="modal" data-target="#instance-form-dialog">
            <span class="glyphicon glyphicon-plus"></span>
            {{ 'label.instance.add'|trans }}
        </button>
    </p>
    {% include 'AppBundle:Instance:form-dialog.html.twig' %}

    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>{{ 'label.instance.name'|trans }}</th>
                <th>{{ 'label.instance.created_at'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for i in instances %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.createdAt|date }}</td>
                    <td>
                        <a href="{{ path('instance_show', {'uid': i.uid}) }}"
                           class="btn btn-primary">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
