{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>{{ schema.name }}<em>s</em></h1>

    <form method="post" action="{{ path('instance_batch') }}">
        <table>
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" title="Select all" id="select-all">
                    </th>
                    <th>Name</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for instance in instances %}
                <tr class="use-tr">
                    <td>
                        <input id="use{{ loop.index0 }}" type="checkbox" class="use-checkbox"
                               name="instance[]" value="{{ instance.id }}" title="Use">
                    </td>
                    <td>{{ instance.name }}</td>
                    <td>{{ instance.createdAt|date('Y-m-d H:i:s') }}</td>
                    <td>
                        <a class="button" href="{{ path('instance_show', {'id': instance.id}) }}">
                            Show
                        </a>
                        <a class="button button-small button-warn"
                           href="{{ path('instance_delete', {'id': instance.id}) }}">
                            ✘
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Batch action</h2>
        <section>
            <select name="tag" title="Assign Tag">
                <option></option>
                {% for tag in tags %}
                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
            <button class="button" name="batch_action" value="assign_tag">
                Assign Tag
            </button>
            <button class="button" name="batch_action" value="remove_tag">
                Remove Tag
            </button>
        </section>
        <section>
            <button class="button-warn" name="batch_action" value="delete">
                Delete
            </button>
        </section>
    </form>

    <a href="{{ path('instance_new', {'id': schema.id}) }}">
        Create new Instance
    </a>
{% endblock %}
