{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>{{ instance.name }}</h1>

    <table>
        <tbody>
            {% for prop in properties %}
                <tr>
                    <th>{{ prop.attribute.name }}</th>
                    <td>
                        {% if prop.attribute.datatype == 'date' %}
                            {% if prop.value %}
                                {{ prop.value|date }}
                            {% endif %}
                        {% else %}
                            {{ prop.value }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tbody>
            <tr>
                <th>Updated at</th>
                <td>{{ instance.updatedAt|date }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Tags</h2>

    <ul>
        {% for tag in instance.tags %}
            <li>{{ tag.name }}</li>
        {% endfor %}
    </ul>

    <a class="button" href="{{ path('instance_edit', {'id': instance.id}) }}">
        Edit Instance
    </a>
{% endblock %}
