{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>
        {{ instance.name }}
        <small>{{ schema.name }}</small>
    </h1>

    <p class="btn-group">
        <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#instance-form-dialog">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <a href="{{ path('instance_delete', {'uid': instance.uid}) }}"
           class="btn btn-danger btn-confirm-href"
           data-confirm-title="{{ 'title.confirm.delete'|trans }}">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </p>
    {% include 'AppBundle:Instance:form-dialog.html.twig' %}

    {% for p in instance.properties %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ p.attribute.name }}</h3>
            </div>
            <div class="panel-body">
                {{ p|propertyvalue|raw }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
