{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Import {{ import.schema.name }}<em>s</em></h1>
    <h2>{{ import.uploadedAt|date }}</h2>

    <form method="post">
        <button class="button-primary">
            Import this shit
        </button>
        <a class="button" href="{{ path("import_delete", {"id": import.id}) }}">
            Cancel import
        </a>
        <table class="import-table">
            <tr>
                <th>
                    <input type="checkbox" title="Select all" id="select-all" checked>
                </th>
                {% for col in content|first %}
                    <th>
                        <select name="attr[{{ loop.index0 }}]" title="Attribute to use">
                            <option></option>
                            <option value="_name">Name</option>
                            <option></option>
                            {% for attr in attributes %}
                                <option value="{{ attr.id }}">{{ attr.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                {% endfor %}
            </tr>
            {% for row in content %}
                <tr class="use-tr">
                    <td>
                        <input id="use{{ loop.index0 }}" type="checkbox" class="use-checkbox"
                               name="use[{{ loop.index0 }}]" value="1" title="Use" checked>
                    </td>
                    {% for col in row %}
                        <td>{{ col }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}
