{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>
        {{ 'label.schema.index'|trans }}
    </h1>

    <h2>{{ 'label.schema.all'|trans }}</h2>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>{{ 'label.schema.name'|trans }}</th>
                    <th>{{ 'label.schema.created_at'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for s in schemas %}
                    <tr>
                        <td>{{ s.name }}</td>
                        <td>{{ s.createdAt|date }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ path('schema_edit', {'uid': s.uid}) }}"
                                   class="btn btn-primary">
                                    {{ bootstrap.glyphicon('pencil') }}
                                </a>
                                <a href="{{ path('schema_delete', {'uid': s.uid}) }}"
                                   class="btn btn-danger btn-confirm-href"
                                   data-confirm-title="{{ 'title.confirm.delete'|trans }}">
                                    {{ bootstrap.glyphicon('trash') }}
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>{{ 'label.schema.new'|trans }}</h2>
    {{ form(newform) }}
{% endblock %}
