{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>
        {{ 'label.attribute.index'|trans }}
    </h1>

    <h2>{{ 'label.attribute.all'|trans }}</h2>

    {{ form(schemaFilterForm) }}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'label.attribute.name'|trans }}</th>
                <th>{{ 'label.attribute.data-type'|trans }}</th>
                <th>{{ 'label.attribute.created_at'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for a in attributes %}
                <tr>
                    <td>{{ a.name }}</td>
                    <td>{{ a.dataType.name }}</td>
                    <td>{{ a.createdAt|date }}</td>
                    <td>
                        <a href="{{ path('schema_edit', {'name': a.name}) }}" class="btn">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">
                        {{ 'label.attribute.nothing-to-show'|trans }}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% if newForm %}
        <h2>{{ 'label.attribute.new'|trans }}</h2>
        {{ form(newForm) }}
    {% endif %}
{% endblock %}