{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>
        {{ 'label.attribute.index'|trans }}
    </h1>

    <h2>{{ 'label.attribute.select-schema'|trans }}</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'label.attribute.schema.name'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for s in schemas %}
                <tr>
                    <td>{{ s.name }}</td>
                    <td>
                        <a href="{{ path('attribute_for_schema',
                                        {'uid': s.uid}) }}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
