{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Attributes list</h1>

    {{ form_start(schemaSelect) }}
        {{ form_widget(schemaSelect.schema) }}
        <button type="submit">Filter</button>
    {{ form_end(schemaSelect) }}

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Schema</th>
                <th>Datatype</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attribute in attributes %}
            <tr>
                <td>{{ attribute.name }}</td>
                <td>{{ attribute.schema.name }}</td>
                <td>{{ attribute.datatype }}</td>
                <td>
                    <a class="button" href="{{ path('attribute_show', { 'id': attribute.id }) }}">show</a>
                    <a class="button" href="{{ path('attribute_edit', { 'id': attribute.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('attribute_new') }}">Create a new attribute</a>
{% endblock %}
