{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>
        {{ 'label.attribute.index'|trans }}
    </h1>

    <h2>{{ 'label.attribute.of-schema'|trans }} {{ schema.name }}</h2>

    <table class="table table-striped table-responsive table-hover">
        <thead>
            <tr>
                <th>{{ 'label.attribute.name'|trans }}</th>
                <th>{{ 'label.attribute.dataType'|trans }}</th>
                <th>{{ 'label.attribute.order'|trans }}</th>
                <th>{{ 'label.attribute.createdAt'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for a in attributes %}
                <tr>
                    <td>{{ a.name }}</td>
                    <td>{{ a.dataType }}</td>
                    <td>{{ a.order }}</td>
                    <td>{{ a.createdAt|date }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path('attribute_edit', {'uid': a.uid }) }}"
                               class="btn btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="{{ path('attribute_delete', {'uid': a.uid }) }}"
                               class="btn btn-danger btn-confirm-href"
                               data-confirm-title="{{ 'title.confirm.delete'|trans }}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>{{ 'label.attribute.new'|trans }}</h2>
    {{ form(newForm) }}

{% endblock %}
