{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>
        {{ 'label.attribute.index'|trans }}
    </h1>

    <h2>{{ 'label.attribute.of-schema'|trans }} {{ schema.name }}</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'label.attribute.name' }}</th>
                <th>{{ 'label.attribute.createdAt' }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for a in attributes %}
                <tr>
                    <td>{{ a.name }}</td>
                    <td>{{ a.createdAt|date }}</td>
                    <td>
                        <a href="{{ path('attribute_edit',
                                            { 'schema_name': schema.name,
                                              'attribute_name': a.name }) }}" class="btn">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>{{ 'label.attribute.new'|trans }}</h2>
    {{ form(newForm) }}

{% endblock %}
