{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Attribute</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ attribute.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ attribute.name }}</td>
            </tr>
            <tr>
                <th>Datatype</th>
                <td>{{ attribute.datatype }}</td>
            </tr>
        </tbody>
    </table>

    <a class="button u-cf" href="{{ path('attribute_edit', { 'id': attribute.id }) }}">Edit</a>

    <a href="{{ path('attribute_index') }}">Back to the list</a>
{% endblock %}
