{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>
        {{ 'label.relationship.new.from'|trans }}
        <em>{{ fromInstance.name }}</em>
        {{ 'label.relationship.new.to'|trans }}
    </h1>

    <form method="post" action="{{ path('relationship_create') }}">
        <input type="hidden" name="fromInstance" value="{{ fromInstance.uid }}">

        <div class="form-group">
            <label class="control-label" for="rel-label">
                {{ 'label.relationship.create.label'|trans }}
            </label>
            <input type="text" required="required" class="form-control" id="rel-label" name="label">
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            {{ 'label.instance.name'|trans }}
                        </th>
                        <th>
                            {{ 'label.instance.created_at'|trans }}
                        </th>
                        <th>
                            {{ 'label.instance.updated_at'|trans }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in instances %}
                        <tr>
                            <td>
                                <input class="checkbox" type="checkbox" name="instances[]"
                                       value="{{ instance.uid }}" id="check-{{ instance.uid }}">
                            </td>
                            <td>
                                <label for="check-{{ instance.uid }}">
                                    {{ instance.name }}
                                </label>
                            </td>
                            <td>
                                {{ instance.createdAt|date }}
                            </td>
                            <td>
                                {{ instance.updatedAt|date }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <button class="btn btn-default" type="submit">
                {{ 'label.save'|trans }}
            </button>
        </div>
    </form>
{% endblock %}

