{% extends 'AppBundle::layout.html.twig' %}
{% import '@lanigerBootstrap/bootstrap.macro.twig' as bootstrap %}

{% block body %}
    <h1>
        {{ 'label.relationship.new.chooseSchema'|trans }}
        <small>{{ instance.name }}</small>
    </h1>

    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>{{ 'label.schema.name'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for schema in schemas %}
                    <tr>
                        <td>{{ schema.name }}</td>
                        <td>
                            <a href="{{ path('relationship_new_chooseinstance',
                            {'schemaUid': schema.uid, 'fromInstanceUid': instance.uid}) }}"
                               class="btn btn-primary">
                                {{ bootstrap.glyphicon('arrow-right') }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
